#main {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: large;
  font-family: var(--sec-font);
  font-size: 25px;
}

#add-task {
  margin-right: 1rem;
  padding: 10px;
  border: 3px solid;
  border-radius: 3px;
  flex: 1 1 auto;
  text-align: center;
  min-width: 250px;
}

#task-list {
  padding: 10px;
  border: 1px solid var(--prim-color);
  border-radius: 2px;
  flex: 3 1 auto;
  text-align: center;
  max-width: 600px;
}

#task-list ul {
  list-style-type: none;
  text-align: left;
  padding-left: 5;
}

.task-date {
  margin-left: 4rem;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
  font-family: var(--main-font);
}

a:hover {
  color: var(--tert-color);
  font-size: larger;
}

@media (max-width: 600px) {
  .task-date {
    display: none;
  }
}

.delete-btn {
  display: inline-block;
  color: var(--prim-color);
  background-color: var(--sec-color);
  border-radius: 5px;
  padding: 5px;
}

.delete-btn:hover {
  color: var(--sec-color);
  background-color: var(--prim-color);
}
