#main {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-family: var(--main-font);
  font-size: large;
}

#add-task {
  margin-right: 1rem;
  padding: 10px;
  border: 3px solid;
  border-radius: 3px;
  flex: 1 1 auto;
  text-align: center;
  min-width: 250px;
}

#task-list {
  padding: 10px;
  border: 1px solid var(--prim-color);
  border-radius: 2px;
  flex: 3 1 auto;
  text-align: center;
  max-width: 600px;
}

#task-list ul {
  font-style: var(--sec-font);
  list-style-type: none;
  text-align: left;
  padding-left: 5;
}

.task-date {
  margin-left: 4rem;
}

@media (max-width: 600px) {
  .task-date {
    display: none;
  }
}
