#main {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-family: var(--main-font);
  font-size: large;
}

#add-task {
  margin-right: 1rem;
  padding: 10px;
  border: 3px solid;
  border-radius: 3px;
  flex: 1 1 auto;
  text-align: center;
}

#task-list {
  padding: 10px;
  border: 1px solid var(--prim-color);
  border-radius: 2px;
  flex: 4 1 auto;
  text-align: center;
}
